/* Base Styles */
* {box-sizing: border-box;
    font-family: Helvetica;
}
.row {
	width: 100%;
}
body {
	background-color: white;
	text-align: center;
	color: black;
	margin-bottom: 30px;
	
}
h1 {
	font-size: 175%

}
.highlight-1 {
	font-weight: bold;
	font-size: 125%;
	width: 30%;
	
	text-align: center;
	float: right;
	clear: left;
	background-color: pink;
	border: 1px solid black	
}
.highlight-2 {
	font-weight: bold;
	font-size: 125%;
	color:  white;
	width: 30%;
	
	text-align: center;
	float: right;
	clear: left;
	background-color: red;
	border: 1px solid black
}
.highlight-3 {
	font-weight: bold;
	font-size: 125%;
	width: 30%;
	
	text-align: center;
	float: right;
	clear: left;
	background-color: gold;
	border: 1px solid black
}
.description {
	margin-left: 15px;
	margin-right: 15px;
	float: right;
	margin-bottom: 30px;
	padding: 0px 1px 5px 5px;
	background-color: lightgrey;
	color: black;
	border: 1px solid black;
	text-align: left
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/*Large devices*/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;  
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/*Medium devices*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
