body {
	background-color: white;
}
header {
  background-color: lightgrey;

}
.navbar-brand {
  text-shadow: 2px 2px 2px grey;
  padding-left: 5vw;
}
.mobile-menu {
text-align: center;
background-color: darkgrey;

}